[project]
	description = Install and run a Drupal 8 application automatically
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SEVERINO, Luis (7rin0)
[access "refs/for/refs/*"]
	read = group user/SEVERINO, Luis (7rin0)
	push = group user/SEVERINO, Luis (7rin0)
	label-Code-Review = -2..+2 group user/SEVERINO, Luis (7rin0)
	label-Verified = -1..+1 group user/SEVERINO, Luis (7rin0)
	rebase = group user/SEVERINO, Luis (7rin0)
	removeReviewer = group user/SEVERINO, Luis (7rin0)
	submit = group user/SEVERINO, Luis (7rin0)
[access "refs/heads/*"]
	read = group user/SEVERINO, Luis (7rin0)
	create = group user/SEVERINO, Luis (7rin0)
	push = +force group user/SEVERINO, Luis (7rin0)
	pushMerge = group user/SEVERINO, Luis (7rin0)
[access "refs/tags/*"]
	push = +force group user/SEVERINO, Luis (7rin0)
	pushTag = group user/SEVERINO, Luis (7rin0)
	pushSignedTag = group user/SEVERINO, Luis (7rin0)
